
  


body {
    background-color: rgba(74, 19, 146, 0.808);
    font-family: "Montserrat", sans-serif;
  }
  .chat-container {
    padding-top: 0%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .chat-container-messages {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: white;
    border: 4px rgb(0, 0, 0) solid;
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .chat-container-messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .chat-container-messages li {
    margin: 10px;
  }
  .chat-container-messages-p {
    border-top-right-radius: 10%;
    border-bottom: 4px rgb(0, 0, 0) solid;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -9px;
  }
  .chat-container-messages-p p {
    color: rgb(173, 7, 7);
    border-bottom: 4px rgb(0, 0, 0) solid;
    font-size: x-large;
    font-weight: 700;
    width: auto;
  }
  .chat-container-users {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: white;
    border: 4px rgb(0, 0, 0) solid;
    height: 450px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
     overflow-y: scroll;
  }
  .chat-container-users-p {
    border-top-left-radius: 10%;
    margin-top: -5%;
    border-bottom: 4px rgb(0, 0, 0) solid;
    background-color: black;
  }
  .chat-container-users-p p {
    color: rgb(141, 6, 6);
    border-bottom: 4px rgb(0, 0, 0) solid;
    width: 200px;
    font-size: x-large;
    font-weight: 700;
  }
  .chat-container-users ul {
    list-style-type: none;
    color: black;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  .chat-container-users li {
    font-size: medium;
    font-weight: 600;
    color: black;
    margin: 10px;
  }

  .user_item {
    font-size: medium;
    font-weight: 600;
    color: black;
    margin: 10px;
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .chat-input-container input {
    height: 30px;
    width: 500px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
  }
  .chat-input-container button {
    height: 30px;
    border-radius: 5px;
    background-color: rgb(65, 155, 245);
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
  }
  .chat-input-container button:hover {
    background-color: rgb(32, 124, 202);
  }
  .private-message-button {
    margin-left: 10px;
    height: 20px;
    background-color: rgb(65, 155, 245);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .private-message-button:hover {
    background-color: rgb(32, 124, 202);
  }